<%- include('../partials/header') %> <% title = 'Empréstimos' %>

<a href="/emprestimos/cadastrar?sessao=logado" class="btn">+ Novo Empréstimo</a>
<table>
  <tr><th>ID</th><th>Usuário</th><th>Livro</th><th>Data</th><th>Ação</th></tr>
  <% emprestimos.forEach(e => { %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.usuario %></td>
      <td><%= e.livro %></td>
      <td><%= e.data_emprestimo %></td>
      <td>
        <a{ href="/emprestimos/devolver/<%= e.id %>?sessao=logado" 
           onclick="return confirm('Devolver?')" style="color:green">Devolver</a>
      </td>
    </tr>
  <% }) %>
</table>

<%- include('../partials/footer') %>
