<%- include('../partials/header') %>

<table border="1" style="width:100%; text-align:center; margin:20px 0;">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Ano</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  <% livros.forEach(l => { %>
    <tr>
      <td><%= l.id %></td>
      <td><%= l.titulo %></td>
      <td><%= l.autor %></td>
      <td><%= l.ano %></td>
      <td><%= l.status %></td>
      <td><a href="/livros/editar">Editar</a></td>
    </tr>
  <% }) %>
</table>

<a href="/livros/cadastrar">Cadastrar Novo Livro</a>

<%- include('../partials/footer') %>
